.hidden {
    display: none;
}

body.dark { 
    background-color: #333333;
    color: white;

    cursor: move;
}

body.matrix {
    background-color: rgb(0, 0, 0);
    color: rgb(36, 255, 16);
    background-image: url('matrixbackground.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;

}

header {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid red;

    cursor: pointer;
}

h1 {
    font-size: 45pt;
}

#setup-game {
    display: flex;
    justify-content: center;
}

#setup-game > * {
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

button { 
    justify-self: center;
}

p#timer, p#lives {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#game {
    display: flex;
    justify-content: center;
}

#number-container > p {
    border: 1px solid rgb(175, 157, 157);
    border-radius: 20%;
    width: 45px;
    height: 45px;
    font-size: 30pt;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;

    cursor: pointer;
}

#board {
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 450px;
    height: 450px;

    cursor: pointer;
}

.tile { 
    border: 1px solid black;
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    font-size: 30pt;

    cursor: pointer;
}

.mtile { 
    border: 1px solid black;
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    font-size: 30pt;

    cursor: pointer;
}

p.selected {
    background-color: lightblue;
}

p.incorrect { 
    color: red;
}

.rightBorder {
    border-right: 4px solid black;
}

.bottomBorder {
    border-bottom: 4px solid black;
}

.mrightBorder {
    border-right: 4px solid rgb(255,255,255);
}

.mbottomBorder {
    border-bottom: 4px solid rgb(255,255,255);
}

.mBorder {
    border: 1px solid rgb(255,255,255);
}

footer {
    background-color: rgb(255, 0, 0);
    text-align: center;
}